<% layout('/layouts/boilerplate') %> 
<div class="radios fs-6 container d-flex justify-content-center">
    <div class="dropdown me-3">
        <button class="btn btn-primary dropdown-toggle show-button-one" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            All Years
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="dropdown-one-item"><a class="dropdown-item" href="#">All Years</a></li>
            <% for (let i=0; i < entries.length; i++) {%>
                <% if (i !=0 && entries[i].date_num.substring(0, 4)===entries[i-1].date_num.substring(0, 4) ) { %>
                <% } else {%>
                    <li class='dropdown-one-item'><a class="dropdown-item" href="#"><%= entries[i].date_num.substring(0, 4) %></a></li>
                <% } %>
            <% } %>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle show-button-two" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
            aria-expanded="false">
            All Months
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">All Months</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">January</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">February</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">March</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">April</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">May</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">June</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">July</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">August</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">September</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">October</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">November</a></li>
            <li class="dropdown-two-item"><a class="dropdown-item" href="#">December</a></li>
        </ul>
    </div>
    <hr>
</div>

<hr>
<table class="charts-css line show-heading show-labels show-primary-axis show-10-secondary-axes show-data-axes show-data-on-hover" id="my-chart">
    <caption class="caption"> Happiness Chart </caption>
    <br>
    <p class="no-data" hidden> No data. </p> 
    <% if (entries.length == 0) { %> 
            <p class="no-data"> No data. </p>
    <% } %> 
    <tbody class="chart_body">
        <% for (let i = 0; i < entries.length; i++) {%>
            <tr class="chart_row">
                <th scope="row"> <%= entries[i].date.substring(4) %>  </th>
                <% if (i == 0) { %> 
                    <td style="--start: 0.0; --size: 0.<%= entries[i].rating %>"> <span class="data"><%= entries[i].tag %></span> </td>
                <% } else{ %> 
                    <td style="--start: 0.<%= entries[i-1].rating %>; --size: 0.<%= entries[i].rating %>"><span class="data"><%= entries[i].tag %> </span> </td>
                <% } %> 
            </tr>
        <% } %>  
    </tbody>

</table>
