<% layout('/layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Entry</h1>
        <div class="col-6 offset-3">
        <form action="/entries/<%=entry._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="date">Date</label>
                    <input class="form-control date-picker" type="date" id="date" name="entry[date_num]" value="<%= entry.date_num %>" required
                        min="2000-01-01" max="2100-12-31">
                <div class="valid-feedback">
                    Looks good!
                </div>
                    <p class="form-control date-string" type="text" id="date" name="entry[date]"><%= entry.date %></p>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="subject">Subject</label>
                    <input class="form-control" type="text" id="subject" value="<%= entry.subject %>" name="entry[subject]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Body</label>
                    <textarea contenteditable="" class="form-control" type="text" id="body" name="entry[body]" required><%= entry.body %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-control" type="number" id="rating" name="entry[rating]" min="0" max="10" value="<%= entry.rating %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="tag">Tag</label>
                    <input class="form-control" type="text" id="tag" name="entry[tag]" value="<%= entry.tag %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary btn-block btn-login">Update Entry</button>
                </div>
            </form>
            <a href="/entries/<%= entry._id %> ">Back to Entry</a>
        </div>
    </div>