<% layout('/layouts/boilerplate') %> 


<h1>All Entries</h1>
<div>
</div>
<% for (let entry of entries) { %> 
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= entry.date %></h5>
                    <h5 class="card-title"><%= entry.subject %></h5>
                    <p class="card-text"><%= entry.tag %></p>
                    <a href="entries/<%=entry._id%>" class="btn btn-primary">View <%=entry.subject%> </a>
                </div>
            </div>
        </div>
    </div>
<% } %> 
