<% layout('/layouts/boilerplate') %>

<% if(!currentUser) { %>
    <p>Log in to see your entries.</p>
<% } else {%>
    <h1 class="text-center">All Entries</h1>
<% } %>

<% let counter=0 %>                           
<% for (let entry of entries) { %>
    <% if (currentUser && entry.author._id.equals(currentUser._id)) { %>
        <div class="container d-flex justify-content-center">
            <div class="card mb-3" style="width: 50rem;">
                <div class="card-body">
                    <h3 class="card-title"><%= entry.date %></h3>
                    <h5 class="card-title"><%= entry.subject %></h5>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">
                                Tag: <span class="card-text badge rounded-pill bg-danger mx-0"><%= entry.tag %> </span> 
                            </p>
                        </div>
                        <div class="col">
                            <p class="card-text">
                                Rating: <span class="card-text mx-0">
                                    <%= entry.rating %>
                                </span>
                            </p>
                        </div>
                        <a href="entries/<%=entry._id%>" class="btn btn-primary mt-3">View <%=entry.subject%></a>
                    </div>
                </div>
            </div>
        </div>
        <% counter++ %>
    <% } %>
<% } %>

<% if (currentUser && counter==0) { %>
    <p>You have no entries.</p>
<% } %>