<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">
                        <%= entry.date_num %>
                    </h3>
                    <h5 class="card-title">
                        <%= entry.subject %>
                    </h5>
                    <p class="card-text">
                        <%= entry.body %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= entry.tag %>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= entry.rating %>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/entries/<%= entry._id %>/edit ">Edit Entry</a>
                    <form class="d-inline" action="/entries/<%=entry._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>