<% layout('/layouts/boilerplate') %>

    <h1> <%= entry.date_num %> </h1>
    <h2> <%= entry.subject %> </h2>
    <h3> <%= entry.body %> </h3>
    <p>
        <form action="/entries/<%=entry._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/entries/<%= entry._id %>/edit ">Edit Entry</a>
        <a href="/entries">All Entries</a>
    </footer>
